@use "../abstracts";

.ControlsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  align-items: baseline;

  @media only screen and (min-width: 37.5rem) {
    display: flex;
  }

  box-shadow: abstracts.$default-shadow;
  font-size: abstracts.$font-size;

  &___dark {
    .CompletionStatus,
    .ClearCompleted,
    .Filter {
      background-color: abstracts.$clr-surface-dark;
      color: abstracts.$clr-text-muted-dark;
    }

    .Filter_button {
      color: abstracts.$clr-text-muted-dark;

      &:hover {
        color: abstracts.$clr-text-dark;
      }
    }

    .ClearCompleted button:hover {
      color: abstracts.$clr-text-dark;
    }
  }

  &___light {
    .CompletionStatus,
    .ClearCompleted,
    .Filter {
      background-color: abstracts.$clr-surface-light;
      color: abstracts.$clr-text-muted-light;
    }

    .Filter_button {
      color: abstracts.$clr-text-muted-light;

      &:hover {
        color: abstracts.$clr-text-light;
      }
    }

    .ClearCompleted button:hover {
      color: abstracts.$clr-text-light;
    }
  }
}

.CompletionStatus,
.ClearCompleted,
.Filter {
  padding: 1.5rem 2rem;

  @media only screen and (min-width: 37.5rem) {
    flex: 1;
  }
}

.CompletionStatus {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  padding-right: 0;
}

.ClearCompleted {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;

  display: flex;
  justify-content: end;

  padding-left: 0;

  @media only screen and (min-width: 37.5rem) {
    flex: 1;
    order: 2;
  }

  button {
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}

.Filter {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;

  display: flex;
  align-items: baseline;
  justify-content: center;

  &_item {
    list-style: none;
    padding: 0 2rem;
  }

  &_item___active &_button {
    color: #2c6eef;
  }

  &_button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
  }
}
