@use "../abstracts";

.Input {
  position: relative;

  &___dark > &_field {
    background-color: abstracts.$clr-surface-dark;
    color: abstracts.$clr-text-dark;
  }

  &___light > &_field {
    background-color: abstracts.$clr-surface-light;
    color: abstracts.$clr-text-light;
  }

  &_field {
    width: 100%;
    padding: 1.8rem 2.5rem;
    padding-left: 5.7rem;
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: abstracts.$font-size;
    caret-color: blueviolet;

    &:focus {
      outline: none;
    }
  }

  &_leadingIcon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-55%);
  }
}
