$clr-white: #FFFFFF;

// LIGHT COLORS
$clr-background-light: #FAFAFA;
$clr-surface-light: #FFFFFF;
$clr-text-light: #343339;
$clr-text-muted-light: #94939B;

// DARK COLORS
$clr-background-dark: #181824;
$clr-surface-dark: #25273C;
$clr-text-dark: #CDCFE8;
$clr-text-muted-dark: #8E8EA2;