@use "../abstracts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 37.5rem) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: abstracts.$font;
}
